.app {
  height: 100vh;
}

.signup-login {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #2B6777;
  position: relative;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: sans-serif;
}

.login-signup {
  width: 250px;
  height: 275px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #fcf8ec;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar h1 {
  font-size: 25px;
  margin-left: 5px;
  font-weight: 400;
  color: #52AB98;
}

.navbar nav {
  font-size: 15px;
  margin-right: 5px;
}

nav a {
  margin: 8px;
}

.wrapper {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px 10px;
  color: white;
  background-color: #52AB98;
  border: none;
  border-radius: 10px;
  min-height: 30px;
  min-width: 100px;
  font-size: 15px;
  font-weight: 300;
}

img {
  width: 50px;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
}

input {
  margin: 5px;
  text-align: center;
  border: 2px solid #C8D8E4;
}

textarea {
  border: 2px solid #C8D8E4;
  height: 125px;
  width: 250px;
}

.infowindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

a:hover, link:hover {
  font-weight: 700;
  color: #52AB98;
  cursor: pointer;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52AB98;
}

.mapright {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #52AB98;
}

.mapright p {
  margin: 10px;
}

.mapright h1 {
  color: white;
  font-weight: 200;
  font-size: 25px;
}

.mapleft {
  flex: 0.5;
}

.popupform {
  background: #00000050;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 30%;
  height: 40%;
  max-height: 70vh;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 3px solid #52AB98;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
