.app {
  height: 100vh;
}

/*SIGN UP LOGIN PAGES*/
.signup-login {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #2B6777;
  position: relative;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: sans-serif;
}

.login-signup {
  width: 250px;
  height: 275px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/*NAVBAR*/
.navbar {
  width: 100%;
  height: 70px;
  background-color: #fcf8ec;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,1);
  border-bottom: 1px solid #52AB98;
}

.navbar h1 {
  font-size: 25px;
  margin: 3px;
  font-weight: 600;
  color: #52AB98;
}

.navbar nav {
  font-size: 15px;
  margin-right: 5px;
}

nav a {
  margin: 8px;
}

.wrapper {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 35px;
  opacity: 80%;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px 10px;
  color: white;
  background-color: #52AB98;
  border: none;
  border-radius: 10px;
  min-height: 30px;
  min-width: 100px;
  font-size: 15px;
  font-weight: 300;
}

.geolocation-img {
  width: 40px;
}

.geolocation-img:hover {
  width: 45px;
}

.infowindow-btn:hover {
  background-color: #2B6777;
}

input {
  margin: 5px;
  text-align: center;
  border: 2px solid #C8D8E4;
}

textarea {
  border: 2px solid #C8D8E4;
  height: 125px;
  width: 250px;
  margin: 5px;
}

.infowindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.gm-ui-hover-effect {
  display: flex !important;
  align-items: center !important;
  justify-content: right !important;
  top: 0 !important;
  right: 0 !important;
  width: 10px !important;
  height: 10px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
}

.gm-style .gm-style-iw {
  top: 0 !important;
  left: 0 !important; 
  width: 400px !important;
  min-height: 120px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 2px solid #52AB98 !important;
}     

.infowindow p {
  text-align: center;
  margin: 20px 20px;
  font-size: 15px;
}

.infowindow h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
}

.infowindow h4 {
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

a:hover, link:hover {
  font-weight: 700;
  color: #52AB98;
  cursor: pointer;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52AB98;
}

.mapright {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #52AB98;
}

.mapright p {
  margin: 10px;
}

.mapright h1 {
  color: white;
  font-weight: 200;
  font-size: 25px;
}

.mapleft {
  flex: 0.5;
}

/* POP UP FORM */
.popupform {
  background: #00000050;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 30%;
  height: 40%;
  max-height: 70vh;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 3px solid #52AB98;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
